<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="FirebirdDb"
				 connectionString="User=SYSDBA;Password=masterkey;Database=D:\Ronaldo\Projetos\Base\Acesso\Aluminio\baseAluminio.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=UTF8;Pooling=true;"
				 providerName="FirebirdSql.Data.FirebirdClient" />
	</connectionStrings>

	<!--<entityFramework>
		<providers>
			<provider invariantName="FirebirdSql.Data.FirebirdClient" type="EntityFramework.Firebird.FbProviderServices, EntityFramework.Firebird" />
		</providers>
	</entityFramework>-->

	<appSettings>
		<add key="DeviceCode" value="101" />
		<add key="DeviceIp" value="192.168.1.10" />
		<add key="DevicePorta" value="80" />
		<add key="DeviceSsl" value="False" />
		<add key="DeviceUser" value="admin" />
		<add key="DevicePassword" value="admin" />
		<add key="DeviceEntradaSaida" value="E" />
		<add key="ImportaAcessos" value="SIM" />
		<add key="PastaDeFotos" value="C:\Bio Digital Acesso\FOTOS\" />
		<add key="TempoTimer" value="5000" />
	</appSettings>
</configuration>