<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<connectionStrings>
		<add name="FirebirdDb"
			   connectionString="User=SYSDBA;Password=masterkey;Database=C:\Bio Digital Acesso\AcessoXe\baseAluminio.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=UTF8;Pooling=true;"
				 providerName="FirebirdSql.Data.FirebirdClient" />
	</connectionStrings>-->

	
	<connectionStrings>
		<add name="FirebirdDb"
				 connectionString="User=SYSDBA;Password=masterkey;Database=D:\Ronaldo\Projetos\Base\Acesso\Aluminio\baseAluminio.fdb;DataSource=localhost;Port=3050;Dialect=3;Charset=UTF8;Pooling=true;"
				 providerName="FirebirdSql.Data.FirebirdClient" />
	</connectionStrings>


	<appSettings>
		<add key="DeviceName" value="Academia" />
		<add key="DeviceCode" value="101" />
		<add key="DeviceCodeCancela" value="100" />
		<add key="DeviceCodeAcademia" value="101" />
		<add key="DeviceIp" value="192.168.1.10" />
		<add key="DeviceIpCancela" value="192.168.1.10" />
		<add key="DeviceIpAcademia" value="192.168.1.3" />
		<add key="DevicePorta" value="80" />
		<add key="DeviceSsl" value="False" />
		<add key="DeviceUser" value="admin" />
		<add key="DevicePassword" value="admin" />
		<add key="DeviceEntradaSaida" value="E" />
		<add key="ImportaAcessos" value="SIM" />
		<add key="PastaDeFotos" value="C:\Bio Digital Acesso\AcessoXe\FOTOS\" />
		<add key="TempoTimer" value="5000" />
		<add key="NumeroUsersPorCiclo" value="5" />
		<add key="LiberaAcademia" value="SIM" />
		<add key="LiberaClube" value="SIM" />
		<add key="LogErrorLevel" value="9" />
		<add key="CiclosReconexao" value="100" />
		<add key="PastaDeLogs" value="D:\tmp\" />
	</appSettings>
</configuration>